<html lang="en-US">
  <head>
    <title>DayTemplate-Good</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body data-absolute-enabled="true" style="font-family:Calibri;font-size:11pt">
    <div style="position:absolute;left:48px;top:115px;width:700">
      <h1 style="font-size:16pt;color:#1e4e79;margin-top:0pt;margin-bottom:0pt">Three wins @ Work</h1>
      <table style border="1" data-id="table-3win-work">
        <tr>
          <td style="width:400"><span style="font-weight:bold">Accomplishment</span></td>
          <td style=""><span style="font-weight:bold">Expected </span></td>
          <td style=""><span style="font-weight:bold">Actual</span></td>
          <td style="width:200"><span style="font-weight:bold">Excuse</span></td>
        </tr>
        <tr> <td><p data-tag="to-do:completed">Meetings</p></td><td/><td/> </tr>
        <tr> <td><p data-tag="to-do">2</p></td><td/><td/> </tr>
        <tr> <td><p data-tag="to-do">3</p></td><td/><td/> </tr>
        <tr> <td><p data-tag="to-do">4</p></td><td/><td/> </tr>
      </table>
      <br />
      <h1 style="font-size:16pt;color:#1e4e79;margin-top:0pt;margin-bottom:0pt">Three wins @ Home</h1>
      <table style border="1" data-id="table-3win-home">
        <tr>
          <td style="width:400"><span style="font-weight:bold">Accomplishment</span></td>
          <td style=""><span style="font-weight:bold">Expected </span></td>
          <td style=""><span style="font-weight:bold">Actual</span></td>
          <td style="width:200"><span style="font-weight:bold">Excuse</span></td>
        </tr>
        <tr> <td><p data-tag="to-do">1</p></td><td/><td/> </tr>
        <tr> <td><p data-tag="to-do">2</p></td><td/><td/> </tr>
        <tr> <td><p data-tag="to-do">3</p></td><td/><td/> </tr>
      </table>
      <br />
      <h1 style="font-size:16pt;color:#1e4e79;margin-top:0pt;margin-bottom:0pt">Tasks</h1>

      <table border="1">
        <tr>
          <td style="width:640;border:1px solid"><span style="font-weight:bold">Task</span></td>
          <td style="border:1px solid"><span style="font-weight:bold">Due Date</span></td>
        </tr>
        <tr> <td><p data-tag="to-do">1</p></td> </tr>
      </table>

      <br/>
      <h1 style="font-size:16pt;color:#1e4e79;margin-top:0pt;margin-bottom:0pt">SUMMARY</h1>
      <table border="1">
        <tr>
          <td>Grateful for</td>
          <td style="width:600" data-id="td-grateful"> <li/> </td>
        </tr>
        <tr>
          <td>What went well</td>
          <td data-id="td-wentwell"> <li/> </td>
        </tr>
        <tr>
          <td>What did I learn</td>
          <td data-id="td-wentlearned"> <li/> </td>
        </tr>
      </table>
    </div>
  </body>
</html>
